---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import PostCard from "@components/PostCard/PostCard.astro";
import Pagination from "@components/Pagination/Pagination.astro";

// utils
import { getAllPosts, countItems } from "@js/blogUtils";
import { categorify, slugify } from "@js/textUtils";

// generate pagination for tag pages if there are a bunch of posts for a single tag
export async function getStaticPaths({ paginate }) {
  const posts = await getAllPosts();

  // get all tags from the posts
  const allCategories = posts.map((post) => post.data.categories).flat();

  // combine categories and count how many times they appear. these are "slugified"
  const countedCategories = countItems(allCategories);

  // pagination returns an array of objects with params and page size
  return Object.entries(countedCategories).flatMap(([category, val]) => {
    // get all posts that have the tag
    const filteredPosts = posts.filter((post) => {
      // make sure to slugify them for comparison
      const slugifiedCategories = post.data.categories.map((category) =>
        slugify(category),
      );
      return slugifiedCategories.includes(category);
    });

    return paginate(filteredPosts, {
      params: { category: category },
      pageSize: 6,
    });
  });
}

const { page } = Astro.props as { page: any };
const { category } = Astro.params as { category: string };

const formattedCategory = categorify(category);
---

<BaseLayout
  title={`${formattedCategory.toLowerCase()} - Blog posts`}
  description={`A collection of blog posts about ${formattedCategory.toLowerCase()}`}
>
  <div class="container pt-36 md:pt-44">
    <h1 class="h1">
      Posts about <span class="text-primary-600 dark:text-primary-400"
        >{formattedCategory.toLowerCase()}</span
      >
    </h1>
    <div class="mt-10 grid gap-x-4 gap-y-20 md:grid-cols-2">
      {page.data.map((post) => <PostCard post={post} showDescription={true} />)}
    </div>

    <!-- Pagination -->
    <div class="mt-20 flex justify-center">
      <Pagination
        basePath={`/blog/categories/${category}/`}
        prevUrl={page.url.prev}
        currPage={page.currentPage}
        nextUrl={page.url.next}
        lastPage={page.lastPage}
      />
    </div>
  </div>
</BaseLayout>
